.logement {
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.information {
    display: flex;
    justify-content: space-between;
    width: 100%;
    

    .information__location {

        display: flex;
        flex-direction: column;
        width: 75%;


        .information__location-text {

            display: flex;
            flex-direction: column;
            width: 100%;

            .information__location-text-title {
            color: $color-primary;
            font-size: 36px;
            font-weight: 500;
            margin: 0;
            
            }

            .information__location-text-address {
                color: $color-primary;
                font-size: $fontsize-medium;
                font-weight: 500;
                margin: 0;
            }
        }
        

        
    }

    .information__personal {
        display: flex;
        flex-direction: column;
        gap: 14px;
        justify-content: space-between;

        .information__personal-host {
            display: flex;
            align-items: center;
            gap: 10px;

            .information__personal-host__name {
                font-size: $fontsize-medium;
                color: $color-primary;
                font-weight: 400;
            }

            .information__personal-host__img {
                object-fit:  cover;
                border-radius: 50%;
                height: 64px;
                width: 64px;
            }
        }
    }
}

.logement-dropdown {

    width: 100%;
    display: flex;
    gap: 50px;
    padding-top: 10px;

    .dropdown {

    padding: 0;
    align-items: 0;
    justify-content: 0;

        .details__dropdown-equipment {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            list-style: none;   
        }

        .dropdown__button {
            width: 100%;
        }

        .dropdown__text {
            font-size: $fontsize-medium;
        }

        .dropdown__background {
            width: 100%;   
        }   
    }

}

@media (max-width: $width-phone) {
    .information {
        width: 95%;
        flex-direction: column;

        .information__location {

            width: 100%;

            .information__location-text {

               .information__location-title {
                font-size: $fontsize-medium;
            }

                .information__location-address {
                font-size: 14px;
            } 

            }
        }

        .information__personal {
            flex-direction: row-reverse;
            padding-bottom: 10px;

            .information__personal-host {

                .information__personal-host__name {
                    font-size: 15px;
                } 
            }

            
        }
    }

    .logement-dropdown {
        width: 95%;
        flex-direction: column;

        .dropdown {

            .dropdown__text {
                font-size: $fontsize-mobile;
            }

            .dropdown__button {
                font-size: 13px;
            }
        }
    }
}