

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.logo {
    display: flex;
}

nav {
    display: flex;
    gap: 50px;
    font-size: 24px;

    .nav__link {
    font-weight: 500;
    text-decoration-line: none;
    color: #FF6060;
    }

    .nav__link-active {
    text-decoration: underline 3px;
    font-weight: 500;
    color: #FF6060;
    }
}

@media (max-width: $width-phone) {
    header {
        width: 95%;
        padding-top: 10px;
        padding-bottom: 0;
    }

    .logo {
        .logo__img {
            height: 50px;
        }
    }

    nav {
        gap: 20px;
        font-size: 12px;

        .nav__link {
            text-transform: uppercase;
            font-size: 12px;
        }

        .nav__link-active {
            text-decoration: none;
        }
    }
}

