

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.logo {
    display: flex;
}

nav {
    display: flex;
    gap: 50px;

    .nav__link {
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: none;
    color: #FF6060;
    }

    .nav__link-active {
    text-decoration: underline 3px;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
    }
}



