/* .LOGO */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    display: flex;
}

/* _Nav */

nav {
    display: flex;

    .nav__accueil {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* or 34px */
    text-decoration-line: none;
    line-height: 142%;
    padding-right: 50px;

    color: #FF6060;
    }
    .nav__apropos {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* or 34px */
    line-height: 142%;
    text-decoration-line: none;

    color: #FF6060;
}
}

/* Accueil */



/* A Propos */



