.dropdown-large {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 15px;
        

        .dropdown-large__button {
            background-color: $color-primary;
            width: 80%;
            height: 47px;
            border-radius: 10px;
            displaY: flex;
            flex-direction: column;  
        }
    
    
        .dropdown-large__container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center; 

            div {
                display: flex;
                align-items: center;
            }
        }
    
        .dropdown-large__title {
    
            color: #FFFFFF;
            font-size: 24px;
            font-weight: 500;
            padding-left: 20px;
        }
    
        .dropdown-large__arrow-down {
            padding-right: 20px;
        }

        .dropdown-large__background {
            height: 100%;
            width: 80%;
            color: $color-primary;
            background-color: $color-background;  
            padding-bottom: 20px;
            padding-top: 20px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .dropdown-large__text {
            
            padding: 0px 10px 0px 10px;

            font-size: 24px;
            font-weight: 400;
            line-height: 142.6%;
        }
    }

    @media (max-width: $width-phone) {
        .dropdown-large {
            .dropdown-large__button {
                height: 30px;
                width: 95%;
            }
            
            .dropdown-large__background {
                width: 95%;
                padding-top: 10px;
            }

            .dropdown-large__title {
                font-size: 13px;
            }

            .dropdown-large__text {
                font-size: 12px;
            }
        }
    }