.carrousel {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;

    .carrousel__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 415px;
        width: 100%;
        position: relative;
        
    }

    .carrousel__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .carrousel__arrow {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .carrousel__text {
        position: absolute;
        bottom: 0;
        padding-bottom: 20px;
        font-size: $fontsize-medium;
        font-weight: 400;
        color: #FFFFFF
    }

}

@media (max-width: $width-phone) {

    .carrousel {
        width: 95%;

        .carrousel__container {
            width: 100%;
            height: 300px;
        }

        .carrousel__button-img {
            width: 30px;
        }

        .carrousel__text {
            display: none;
        }
    }
    
}