.home {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    background: #FFFFFF;
};

.home-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $color-background;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .home {
        width: $width-phone;
    }

    .home-gallery {
        flex-direction: column;
        padding-top: 10px;
    }
}