.banner {

    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;

    .banner__container {

        height: 244px;
        width: 100%;
        position: relative;
    }

    .banner__text {
        position: absolute;
        color: #FFFFFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
 }

    .banner__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
        filter:brightness(75%);
    }
}

@media (max-width: $width-phone) {
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;

        .banner__container {
            height: 111px;
            width: 95%;
        }
        .banner__container-big {
            height: 200px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .banner__text {
            font-size: 24px;
            left: 40%;
            width: 70%
        }
    }
}