/* .Thumb */

.home-card {

    width: 28%;
    height: 340px;
    padding: 25px;
    display: flex;
    flex-direction: column;

    .home-card__container {
        height: 100%;
        position: relative;
        
    }

    .home-card__cover {

    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: $color-primary;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    // See card.jsx for the background-image

    }

    .home-card__title {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* or 26px */
    display: flex;
    align-items: flex-end;
    bottom: 8px;
    top: 0px;
    left: 16px;

    color: #FFFFFF;
    }
};


/* Titre de la location */



