.home-card {

    width: 30%;
    height: 340px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;

    .home-card__container {
        height: 100%;
        position: relative;
    }

    .home-card__cover {

        height: 100%;
        width: 100%;
        border-radius: 10px;
        filter: brightness(75%);
        object-fit: cover;
    }

    .home-card__title {
        position: absolute;
        font-weight: 500;
        font-size: $fontsize-medium;
        display: flex;
        align-items: flex-end;
        bottom: 8px;
        top: 0px;
        left: 16px;
        color: #FFFFFF;
    }
};

.hover-effect
{
    transition: transform .2s;
}

.hover-effect:hover
{
    transform: scale(1.05);
}

@media (max-width: $width-phone) {
    .home-card {
        width: auto;
        margin: 20px;
        height: 255px;
        margin: 10px;
    }

    .hover-effect:hover {
        transform: none;
    }
}