// Colors

$color-primary: #FF6060;
$color-background: #F6F6F6;

// Responsive

$width-phone: 768px;

// Font sizes

$fontsize-medium: 18px;
$fontsize-large: 24px;
$fontsize-banner: 40px;
$fontsize-mobile: 12px;
