.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    height: 100%;
    margin-bottom: 100px;

    .error__number {
        font-size: 288px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 90px;
    }

    .error__text {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 90px;
        text-align: center;
    }

    .error__link {
        font-size: $fontsize-medium;
        font-weight: 500;
        text-decoration-line: underline;
        
        color: inherit;
    }
}

@media (max-width: $width-phone) {
    .error {

        .error__number {
            font-size: 96px;
        }

        .error__text {
            font-size: 18px;
        }

        .error__link {
            font-size: 14px;
        }
        
    }
}